body {
    /* background: pink;
    background-blend-mode: screen, color-dodge;
    background-position: right;
    /* background: "Picture1.png"; */
    background-color: greenyellow;
    
    /* background-size: cover; */
    font-size: 20px;
    font-weight: 200;
    background: greenyellow;
    width: 100%;
    /* height: cover; */
}

.bel {
    display: inline-block;
    position: absolute;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 10px;
}

#abtus {
    /* font-weight: 400;
    color: #000000;
    font-size: 15px;
    font-style: sans-serif;
    padding: 160px;
    padding-left: 0%;
    padding-right: 75%;
    padding-bottom: 0%;
    position: bottom;
	float: bottom; */
    float: left;
    /* position: absolute; */
    padding-bottom: 10px;
    padding-left: 1px;
    padding-top: 70%;
}

#bot1 {
    display: none;
}

#bot {
    /* float: bottom right;
    position: absolute;
	padding-right: 0%; */
    float: right;
    /* position: absolute; */
    padding-bottom: 0px;
    padding-right: 0%;
    padding-left: 180%;
    display: none;
    padding-top: 0%;
    align: right;
}


/* #btn {
    float: right;
    /* position: absolute; */


/* padding-bottom: 10px;
padding-right: 0%;
padding-left: 130%; */


/* padding-top: 20%; */

*/ #logo {
    margin: 0 auto;
}


/* h1 {
    text-align: center;
    font-size: 60px;
    font-color: blue;
    font-weight: bold;
    text-shadow: 0px 4px 3px red, 0px 8px 13px orange, 0px 18px 23px yellow;
} */

.n1 {
    font-size: 1.8em;
    font-weight: 400;
}

.n2 {
    font-size: 1.2em;
}

.banner {
    font-size: 20px;
    font-weight: 400;
}
