<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    
    <title>Input</title>
</head>
<body>
    
    <div class="form-group">
        <h1>To-Do <small>List</small></h1>
      <form role="form">
          <input type="text" class="form-control" placeholder="Your Task" name="task">
      </form>
      <button type="button" class="btn btn btn-primary">Add</button>
          </div>
          <div></div>
      <ul class="list-unstyled" id="todo"></ul>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>


<body>
    
</body>